@model MVCReviewSite.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @*<h4>Review</h4>*@
    <hr />
    @*Removed the definition list so that I could format the detailed review*@
    <h2 class="ReviewTitle">@Html.DisplayFor(model => model.Location)</h2>
    <div class="center-block">
        <h1>
            @if (Model.Recommend == true)
            {
                <span class="glyphicon glyphicon-check"></span>
            }
            else
            {
                <span class="glyphicon glyphicon-remove" ></span>
            }
        </h1>
        <h4>@Html.DisplayFor(model=>model.Title) ~ @Html.DisplayFor(model=>model.VisitDate)</h4>
        <p>@Html.DisplayFor(model=>model.CustomerReview)</p>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
